*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(255, 255, 255);
}
#head{
    width: 100%;
    height: 100px;
    background-image: linear-gradient(#e3a988,#e3a988);
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav #logo {
    width: 80px;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}
li a:hover{
    -webkit-text-stroke: 0.3px white;
    transition: 500ms;
    color: transparent;
}
 h3{
    font-size: 50px;
    color: black;
    font-weight: 600;
}
#body1, #body2, #body3, #body4, #body5, #body6 {
    width: 100%;
    position: relative;
    padding: 0;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}
#footer{
    width: 100%;
    height: 200px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3a988;
    margin: 0;
}
#filler1{
    float: left;
    width: 50%;
    height: 100%;
    display: block;
}
#infos{
    float: left;
    width: 33%;
    height: 100%;
    display: flex;
}
#sources,#apropos {
    width: 50%;
    height: 100%;
    padding-top: 10px;
}
#sources{
    float: left;
    display: flex;
}
#apropos{
    float: left;
    display: flex;
    padding-top: 3%;
}
#social{
    float: right;
    display: flex;
    width: 16%;
    height: 100%;
    justify-items: center;
    padding-top: 10px;
}
div ul li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}
div ul li b{
    text-decoration: underline;
    color: white;
}
li {
    justify-items: center;
    margin: 5px;
    list-style-type: none;
    padding-left: 0;
}
